{% extends 'main.html' %}

{% block content %}



<h1>Todos</h1>

<ul>
    {% for todo in todos %}
        <li>Title: <a href="{% url 'single_todo' todo.id %}">{{todo.title}}</a></li>
        <li>Owner: {{todo.owner}}</li>
        <li>Date: {{todo.date}}</li>
        <li>Tags: {% for tag in todo.tags.all %}{{tag }} {% endfor %}</li>
        <li><a href="{% url 'update_todo' todo.id %}">Edit</a></li>
        <li><a href="{% url 'delete_todo' todo.id %}">Delete</a></li>
        <br>
    {% endfor %}
</ul>

{% endblock %}